<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="aeroporto-web">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="aeroporto-core.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/aeroporto-core/aeroporto-core">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="aeroporto-dominio.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/aeroporto-dominio/aeroporto-dominio">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="aeroporto-web"/>
        <property name="java-output-path" value="/aeroporto-web/build/classes"/>
    </wb-module>
</project-modules>
