.bg-green{
    background-color: #259f6c;
}
.bg-transparente{
    background: rgba(255, 255, 255, 0.7)
}
/* Tooltip */
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #000000;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #353536;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
